.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0.5rem);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-body {
  width: 26rem;
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
}

.modal-body header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-body header button {
  border: 0;
  line-height: 0;
  background: transparent;
}

.modal-body header button img {
  width: 1.5rem;
  height: 1.5rem;
}

.modal-body strong {
  font-size: 1.5;
}

.modal-body .status-container {
  margin-top: 0.8rem;
}

.modal-body .status-container div {
  margin-top: 0.8rem;
  align-items: center;
}

.modal-body .status-container small {
  opacity: 0.8;
  font-size: 1rem;
}

.orders-datails {
  margin-top: 1.5rem;
}

.orders-datails > strong {
  opacity: 0.8;
  font-size: 1rem;
  font-weight: 500;
}

.orders-datails .order-items {
  margin-top: 1rem;
}

.orders-datails .order-items .item {
  display: flex;
}

.orders-datails .order-items .item img {
  border-radius: 6px;
}

.orders-datails .order-items .item + .item {
  margin-top: 1rem;
}

.orders-datails .order-items .quantity {
  color: #666;
  display: block;
  font-size: 0.8rem;
  min-width: 0.5rem;
  margin-left: 0.5rem;
}

.orders-datails .order-items .product-details {
  margin-left: 0.5rem;
}

.orders-datails .order-items .product-details strong {
  display: block;
  margin-bottom: 0.5rem;
}

.orders-datails .order-items .product-details span {
  color: #666;
  font-size: 1rem;
}

.orders-datails .total {
  opacity: 0.8;
  display: flex;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
}

.modal-body footer {
  gap: 12px;
  display: flex;
  margin-top: 32px;
  flex-direction: column;
}

.modal-body footer button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.modal-body footer .primary {
  border: 0;
  color: #fff;
  padding: 12px 24px;
  border-radius: 48px;
  align-items: center;
  background-color: #333333;
}

.modal-body footer .secondary {
  border: 0;
  color: #d73035;
  padding: 12px 24px;
  background-color: transparent;
}
